body{
    /*width: 80%;*/
    /*padding:0 20px;*/
    background-color: #e3dee5;
    padding-top: 65px;
    /*background-image: url('http://68.media.tumblr.com/0d10281f030e92f9be1807f743e27d0a/tumblr_inline_oryk04USqU1rgln91_500.jpg')  !important;*/
    /*background-image: url('https://code-42.github.io/my_portfolio/images/CareerDevsTeam20170622.png');*/
    /*background-image: url('https://code-42.github.io/my_portfolio/images/CareerDevsTeam20170622.png');*/
    /*opacity:0.2;*/
    /*background-image: url(wf.jpg);*/
    /*background-size: cover;*/
    /*background: url('http://dash.ga.co/assets/jeff-bg.png');*/
    /*text-align: center;*/
    /*background-position: 20% 80%;*/
    /*background-attachment: fixed;*/
}

header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
}

header > .logo{
    /*position: fixed;*/
    /*top: 0;*/
    /*z-index: 999;*/
    font-size: 2em;
    width: 100vw;
    padding-bottom: 100px;
}

/*#bottom_row{*/
/*  background: url('images/waterfire_office_building.jpg');*/
/*}*/

footer{
  text-align: center;
}

footer > a{
    font-size: 0.7em;
    text-decoration: none;
}

article{
    text-align: center;
}

div > .row{
  text-align: center;
  padding-top:-340px;
}

img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /*opacity: 0.5;*/
}

.reversed {
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform:rotateY(180deg);
    color:blue;
}

/*#NASDAQapp{*/
/*    width: 100%;*/
/*}*/

/*#tribute_page{*/
/*  width:100%;*/
/*}*/

/*#old_next_sticker{*/
/*  width:100%;*/
/*}*/

/*#gitthis{*/
/*  font-size:30px;*/
/*}*/
#submit{
  text-align: center;
}
#emailform{
  margin: 0 auto;
  text-align: center;
}
#sayhi{
  background-color: #E2E2E2;
}
#email{
  text-align: center;
  background-color: #D7FEBD
}

.whatwedo{
  padding:42px;
  /*background-color: green;*/
}

.my-container {
    position: relative;
    /*background: #5C97FF;*/
    overflow: hidden;
    opacity:1;
}
.my-container:before {
    /*content: url('https://en.wikipedia.org/wiki/Algorithm#/media/File:Euclid_flowchart.svg');*/
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    /*background-image: url('http://placekitten.com/1500/1000');*/
    /*background-image: url('https://code-42.github.io/my_portfolio/images/CareerDevsTeam20170622.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 99% 0;*/
    /*-ms-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}
.my-content {
    /*content: ' ';*/
    /*content: url('https://en.wikipedia.org/wiki/Algorithm#/media/File:Euclid_flowchart.svg');*/
    display: block;
    /*position: absolute;*/
    text-align: justify;
    padding: 10px 10px 10px 10px;
    left: 0;
    top: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 1;
    /*opacity: 0.2;*/
    /*background-image: url('http://placekitten.com/1500/1000');*/
    /*background-image: url('https://code-42.github.io/my_portfolio/images/CareerDevsTeam20170622.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 99% 0;*/
    /*-ms-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}
.my-article {
    content: ' ';
    display: block;
    /*position: absolute;*/
    text-align: justify;
    padding: 10px 30px 10px 30px;
    left: 0;
    top: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 1;
    /*opacity: 0.2;*/
    /*background-image: url('http://placekitten.com/1500/1000');*/
    /*background-image: url('https://code-42.github.io/my_portfolio/images/CareerDevsTeam20170622.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 99% 0;*/
    /*-ms-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}
/*.my-container h1 {*/
h1{
    padding: 100px 0 -100px 0;
    text-align: center;
    z-index: 2;
    position: relative;
    /*color: #fff;*/
} 

article {
  /*background: #fff;*/
  padding: 10px 10px 100px 10px;
}

#Euclid_flowchart{
  position:relative;
  padding:10px 10px 10px 10px;
  /*width:80%;*/
  height:auto;
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 5px;
	height: auto;
	width:80%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.hidden{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
