body{
    background-color: #e3dee5;
    padding-top: 65px;
}

header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
}

header > .logo{
    font-size: 2em;
    width: 100vw;
    padding-bottom: 100px;
}

footer{
  text-align: center;
}

footer > a{
    font-size: 0.7em;
    text-decoration: none;
}

article{
    text-align: center;
}

div > .row{
  text-align: center;
  padding-top:-340px;
}

img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    /*opacity: 0.5;*/
}

.reversed {
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform:rotateY(180deg);
    color:blue;
}

#submit{
  text-align: center;
}
#email_form{
  margin: 0 auto;
  padding-left: 40px;
}
#sayhi{
  background-color: #E2E2E2;
}
#email{
  text-align: center;
  background-color: #D7FEBD
}

.whatwedo{
  padding:42px;
}

.my-container {
    position: relative;
    overflow: hidden;
    opacity:1;
}
.my-container:before {
    /*content: url('https://en.wikipedia.org/wiki/Algorithm#/media/File:Euclid_flowchart.svg');*/
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
}
.my-content {
    /*content: ' ';*/
    /*content: url('https://en.wikipedia.org/wiki/Algorithm#/media/File:Euclid_flowchart.svg');*/
    display: block;
    /*position: absolute;*/
    text-align: justify;
    padding: 10px 10px 10px 10px;
    left: 0;
    top: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 1;
}
.my-article {
    content: ' ';
    display: block;
    /*position: absolute;*/
    text-align: justify;
    padding: 10px 30px 10px 30px;
    left: 0;
    top: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 1;
}

h1{
    padding: 100px 0 -100px 0;
    text-align: center;
    z-index: 2;
    position: relative;
} 

article {
  padding: 10px 10px 100px 10px;
}

#Euclid_flowchart{
  position:relative;
  padding:10px 10px 10px 10px;
  height:auto;
}

.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 5px;
	height: auto;
	width:100%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.hidden{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.price-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* ### BEGIN FCC STYLES*/
/** global element styling **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    /*background: url('images/waterfire_office_building.jpg')  !important;*/
    background-color:#eee;
    /*text-align: center;*/
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}


/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.grid {
  display: flex;
}

/*.reversed {*/
/*    display: inline-block;*/
/*    font-size: 100%;*/
/*    font-weight: bold;*/
/*    -webkit-transform:rotateY(180deg);*/
/*    -moz-transform:rotateY(180deg);*/
/*    -o-transform:rotateY(180deg);*/
/*    -ms-transform:rotateY(180deg);*/
/*    transform:rotateY(180deg);*/
/*}*/

footer{
    text-align: center;
    display:block;
}

/*// pricing*/

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  #basic, #watch, #help {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px 10px 10px 10px;
    border: 1px solid #000;
    border-radius: 3px;
  } 
  
    .level {
      background-color: #ddd;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
    }
    
    h2 {
      margin-top: 15px;
    }
    
    ol {
      margin: 15px 0;
      
      li { padding: 5px 0; }
    }
    
    /*button {*/
    /*  border: 0;*/
    /*  margin: 15px 0;*/
    /*  background-color: #f1c40f;*/
    /*  font-weight: 400;*/
      
    /*  &:hover {*/
    /*    background-color: orange;*/
    /*    transition: background-color 1s;*/
    /*  }*/
    /*}*/
  }
  
  
  @media (max-width: 800px) {
    flex-direction: column;
    
    #basic, #watch, #help { max-width: 300px; width: 100%; margin: 0 auto; margin-bottom: 10px; }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
    /*padding: 100px 0 -100px 0;*/
    text-align: center;
    z-index: 2;
    position: relative;
  }
  li {
    padding: 5px;
    display: block;
  }
}
    
#bitcoin{
  width: 130px;
  height: auto;
  padding-bottom: 4px;
}