body{
    /*width: 80%;*/
    /*padding:0 20px;*/
    /*background-color: #e3dee5;*/
    /*background-image: url('http://68.media.tumblr.com/0d10281f030e92f9be1807f743e27d0a/tumblr_inline_oryk04USqU1rgln91_500.jpg')  !important;*/
    /*background-image: url(images/waterfire_office_building.jpg);*/
    /*background-image: url(wf.jpg);*/
    /*background-size: cover;*/
    /*background: url('http://dash.ga.co/assets/jeff-bg.png');*/
    /*text-align: center;*/
}

header{
  background: url("images/waterfire_office_building.jpg");
  background-size:cover;
  background-position: 20% 80%;
  background-attachment: fixed;
}
header > .logo{
    font-size: 2em;
    width: 100vw;
    
}

/*#bottom_row{*/
/*  background: url('images/waterfire_office_building.jpg');*/
/*}*/

footer{
  text-align: center;
}

footer > a{
    font-size: 0.7em;
    text-decoration: none;
}

article{
    text-align: center;
}

div > .row{
  text-align: center;
  padding-top:-140px;
}

img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.reversed {
    display: inline-block;
    font-size: 100%;
    font-weight: bold;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform:rotateY(180deg);
    color:blue;
}

/*#NASDAQapp{*/
/*    width: 100%;*/
/*}*/

/*#tribute_page{*/
/*  width:100%;*/
/*}*/

/*#old_next_sticker{*/
/*  width:100%;*/
/*}*/

/*#gitthis{*/
/*  font-size:30px;*/
/*}*/
#submit{
  text-align: center;
}
#emailform{
  margin: 0 auto;
  text-align: center;
}
#sayhi{
  background-color: #E2E2E2;
}
#email{
  text-align: center;
  background-color: #D7FEBD
}

.whatwedo{
  padding:42px;
  /*background-color: green;*/
}